version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: php/Dockerfile.prod
    volumes: []
    env_file:
      - .env.prod
    container_name: php8_10_game_prod
    # Nowy Dockerfile wystawia port 80, więc mapujemy go na zewnątrz
    ports:
      - "8080:80"

  # Serwis Nginx jest już zbędny, bo Apache jest w środku kontenera php
  # nginx: 
  #   ... (do usunięcia)